#header {
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.instr {
    text-align: center;
}

#task {
    width: 300px;
    height: 20px;
    border-radius: 5px;
}

#add {
    border-radius: 5px ;
    height: 30px;
    margin-left: 5px;
}
#usercon {
    width: 30%;
    margin: 0 auto ;
}

#listitem {
    width: 40%;
    margin: auto;
}

/*#list {
    margin: auto;
}*/

